@model UserRegisterDto
@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Kayıt Ol </title>
	<link rel="stylesheet" href="/SignupForm/style.css">
</head>
<body>
	<div class="wrapper">
		<h2>Kayıt Ol</h2>
		<form asp-action="Register" asp-controller="Login">
			<div class="input-box">
				<input asp-for="Name" type="text" placeholder="İsim Giriniz" required>
				<span asp-validation-for="Name" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="input-box">
				<input asp-for="Surname" type="text" placeholder="Soyisim Giriniz" required>
				<span asp-validation-for="Surname" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="input-box">
				<input asp-for="Age" type="number" placeholder="Yaşınızı Giriniz" required>
				<span asp-validation-for="Age" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="text" style="display:flex; align-items:center">
				<label asp-for="Gender">Cinsiyetinizi seçiniz :</label>
				<div class="radio-buttons" style="display:flex; margin-inline:10px ; align-items:center; ">
					Kadın	<input style="margin-inline:10px" type="radio" asp-for="Gender" value="false">
					Erkek	<input style="margin-inline:10px" type="radio" asp-for="Gender" value="true">
				</div>
			</div>
			<div class="input-box">
				<input asp-for="Mail" type="email" placeholder="Mailinizi Giriniz" required>
				<span asp-validation-for="Mail" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="input-box">
				<input asp-for="PhoneNumber" type="number" placeholder="Telefon Numaranızı Giriniz" required>
				<span asp-validation-for="PhoneNumber" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="input-box">
				<input asp-for="Password" type="password" placeholder="Şifrenizi Giriniz" required>
				<span asp-validation-for="Password" class="text-danger" style="margin-left:15px; font-size:12px;"></span>
			</div>
			<div class="input-box button">
				<input type="Submit" value="Şimdi Kayıt Ol">
			</div>
			<div class="text">
				<h3>Kayıtlı mısınız? <a href="/Login/Login/">Giriş Yap</a></h3>
			</div>
		</form>
	</div>

</body>
</html>
